rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

		function isAdmin() {
    	return request.auth.uid == 'pbHSPTiGzLNe17YnyYHEuRrgv9Q2';
    }
    function newValue(field) { return request.resource.data[field]; }
    function oldValue(field) { return resource.data[field]; }
    function hasField(field) { return field in request.resource.data;}
    function hadField(field) { return resource != null && field in resource.data;}
    function isCalm() {
    	return !hadField('bingoClaimTime') ||
          (newValue('bingoClaimTime')
        > oldValue('bingoClaimTime') + duration.value(15, 's'));
    }
    function hasBingoClaimTime() {
      return hasField('bingoClaimTime');
    }
    function isBingoClaimTimeNow() {
      return newValue('bingoClaimTime') == request.time;
    }
    function isClearingBingoClaimTime() {
    	return hadField('bingoClaimTime') && !hasField('bingoClaimTime');
    }
    function isWritingBingoClaimTime() {
    	return (!hadField('bingoClaimTime') && hasField('bingoClaimTime'))
    	    || (
          	   hadField('bingoClaimTime') && hasField('bingoClaimTime')
    	      && oldValue('bingoClaimTime') != newValue('bingoClaimTime')
          );
    }
    function isClearingHostMsg() {
    	return hadField('bingoClaimTime') && !hasField('bingoClaimTime');
    }
    function isWritingField(field) {
    	return (!hadField(field) && hasField(field))
          || ( hadField(field) && hasField(field)
            && oldValue(field) != newValue(field)
          )
    }

    match /{document=**} {
    	allow read, write: if isAdmin();
    }
    match /Globals/Bootstrap {
    	allow read: if true;
    }
    match /Games/{gameid=*} {
      allow read;
    	match /Players/{playerid=*} {
      	allow read: if request.auth.uid == playerid;
        allow write: if request.auth.uid == playerid
        	 && (resource == null || request.resource.data.diff(resource.data).affectedKeys()
        	      .hasOnly(['name', 'status', 'bingoClaimTime']))
           && (!isWritingField('status') || request.resource.data.status != 'wonBingo')
           && (!isClearingBingoClaimTime())
           && (!isClearingHostMsg())
           && (!isWritingBingoClaimTime() || (isBingoClaimTimeNow() && isCalm()))
          ;
      	match /Cards/{cardid} {
        	allow read: if request.auth.uid == playerid;
        }
      }
    }
  }
}